html {
  font-family: serif;
}

.resume {
  margin: 20px auto 20px auto;
  padding: 12px 17px 12px 12px;
  max-width: 800px;
  border-radius: 12px;
}

.name {
  font-family: sans-serif;
  font-size:35px;
}

.job, .school-list, .intro, .header {
  border-radius: 12px;
  padding: 18px;
  margin-bottom: 10px;
  /*margin: 10px 0 10px 0;*/
}

.header-name {
  float:left;
  margin:0;
}

.header-contact {
  text-align: right;
}

.overview {
  margin-bottom: 22px;
}

h2 {
  font-size: 22px;
  text-align: center;
  border-radius: 25px 25px 0 0;
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom:0;

}

h2 + .job, h2 + .school-list{
  margin-top: 0;
  border-top-left-radius: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul{
list-style-type: square;
}
.job-title {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

.job-date {
  font-size:18px;
  text-align: right;
  float: right;
  margin: 0;
  padding: 0;
}

.job-name {
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.job-details {
  font-size: 16px;
  padding-left: 20px;
  margin-bottom:0;
}

div.intro > p{
  padding-left: 22px;
  text-indent: -22px;
  margin-bottom:10px;
}

.education-training{
  margin:0;
}

.institution{
  margin: 10px;

}

.school-date{
  font-weight: bold;
}
