html {
  background-color: #000000;
}

.resume {
  background: #e0dde0;
  border-color: #dfe2e5;
}

p.name {
  color:#994400;
}

div.header-contact {
  text-align: right;
}


h2 {
  background-color: red;
}
      
.job, .school-list, .intro, .header{
  background-color: #cccccc;
}
.job-heading {
  color: #994400;
}
html {
  background-color: #000000;
}

.resume {
  background: #e0dde0;
  border-color: #dfe2e5;
}

p.name {
  color:#994400;
}

div.header-contact {
  text-align: right;
}


h2 {
  background-color: red;
}
      
.job, .school-list, .intro, .header{
  background-color: #cccccc;
}
.job-heading {
  color: #994400;
}
